.container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    max-width: 800px;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 300px;

    mat-card {
        width: 100%;
    }
}